@model List<Article>
@{
    ViewData["Title"] = "MarkediaIndex";
    Layout = "~/Views/Shared/_MarkediaLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="page-wrapper">
            <div class="blog-custom-build">
                <div class="blog-box wow fadeIn">
                    @foreach (var item in Model)
                    {

                        <div class="post-media">
                            <a href="~/markedia/markedia/marketing-single.html" title="">
                                @*Blogun sayfasına gidecek*@
                                <img src="@item.CoverImageUrl" alt="" class="img-fluid">
                                <!-- end hover -->
                            </a>
                        </div>
                        <!-- end media -->
                        <div class="blog-meta big-meta text-center">
                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="https://github.com/OrucTuran" target="_blank" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                    <li><a href="https://github.com/OrucTuran" target="_blank" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    <li><a href="https://github.com/OrucTuran" target="_blank" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div><!-- end post-sharing -->
                            <h4><a href="~/markedia/markedia/marketing-single.html" title="">@item.Title</a></h4>
                            <p>@item.Detail.Substring(0, 300)... <a href="#">Devamını oku</a></p>
                            <small><a href="~/markedia/markedia/marketing-category.html" title="">@item.Category.CategoryName</a></small>
                            <small><a href="~/markedia/markedia/marketing-single.html" title="">@item.CreatedDate</a></small>
                            <small><a href="#" title="">@item.AppUser.Name @item.AppUser.Surname</a></small>@**@
                            <small><a href="#" title=""><i class="fa fa-eye"></i> @item.ArticleViewCount</a></small>
                        </div>

                        <!-- end meta -->
                    }
                </div><!-- end blog-box -->

                <hr class="invis">

            </div>
        </div>

        <hr class="invis">
    </div><!-- end col -->
    @await Html.PartialAsync("PartialMarkediaSidebar")
</div><!-- end row -->
